.navbar1{
    height: 50px;
    /* background-color:#e3f2fd ; */
    /* border-radius: 10px; */
}
.navlist{
    /* content: flex; */

    display: flex; 
    justify-content: center;
    align-items:center;
    
    /* flex-direction: row;
    flex-wrap: wrap; */
}
#navel{
    
   background-color: rgb(191, 200, 230);
   padding: 9px;
   margin-top: 4px;
   margin-right: 50px;
   /* margin-left: 5px; */ 
/* margin-left: 5%;*/
border-radius:10px;

}